<!--<app-first></app-first>-->
<div class="container ">
      <!--  <app-bt-jumb></app-bt-jumb>
    
    <div class="row">
            
        <div class="col-md-4">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
        <div class="col-md-4 bg-primary">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
        <div class="col-md-4">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
        <div class="col-md-4">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
        <div class="col-md-4">
            <div class="alert alert-info">
                <app-bt-crd></app-bt-crd>
            </div>

        </div>
    </div>-->
    
            <app-databinding></app-databinding>
        
</div>

